<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Quản lý phòng ngày</title>
  <link rel="shortcut icon" type="image/png" href="/image/logos/favicon.png" />
  <link rel="stylesheet" href="/css/styles.min.css" />
  <link rel="stylesheet" href="/css/tabler-icons/tabler-icons.css">

  <style>
    .card {
      margin: 2px;
    }

    .row-cols-1>.col,
    .row-cols-md-6>.col {
      padding: 2px;
    }

    .bg-danger {
      background-color: red;
    }

    .card-header {
      padding: 5px;
    }

    .card .text-center {
      font-weight: bold;
    }

    .modal-body .form-group {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
    }

    .modal-body .form-group label {
      flex: 1;
      margin-right: 1rem;
    }

    .modal-body .form-group input,
    .modal-body .form-group select {
      flex: 2;
    }
  </style>
</head>

<body>
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <%- include('../_partialView/asideAdmin.ejs') %>

      <div class="body-wrapper">
        <%- include('../_partialView/headerAdmin.ejs') %>

          <div class="container-fluid">
            <div class="container-fluid">
              <h3>Quản lý phòng ngày [<span id="current-date-time"
                  style="font-size: 18px; font-weight: normal;"></span>]
              </h3>
              <div class="card">
                <div class="card-body">
                  <button type="button" id="updateRoomBtn" class="btn btn-outline-danger mb-1">Cập nhật phòng
                    ngày</button>

                  <div class="container my-1">
                    <div class="row mb-4">
                      <div class="col-md-2 mb-2">
                        <input type="date" class="form-control dateInput" id="start-date" name="startDate">
                      </div>
                      <div class="col-md-2 mb-2">
                        <input type="date" class="form-control dateOutput" id="end-date" name="endDate">
                      </div>
                      <div class="col-md-2 mb-2">
                        <select class="form-select" id="floor-filter">
                          <option value="all" focus>Số tầng</option>
                          <option value="1">Tầng 1</option>
                          <option value="2">Tầng 2 </option>
                          <option value="3">Tầng 3</option>
                          <option value="4">Tầng 4</option>
                        </select>
                      </div>
                      <div class="col-md-2 mb-2">
                        <select class="form-select" id="status-filter">
                          <option value="all">Tất cả phòng</option>
                          <option value="available">Phòng trống</option>
                          <option value="occupied">Đã đặt</option>
                        </select>
                      </div>
                      <div class="col-md-2 mb-2">
                        <input type="text" class="form-control" id="search" placeholder="Tìm tên phòng">
                      </div>
                      <div class="col-md-2 mb-2 d-none">
                        <button class="btn btn-primary w-100" id="search-btn">Tìm kiếm</button>
                      </div>
                      <div class="col-md-2 mb-2">
                        <button class="btn btn-primary w-100" id="reset-filters-btn">Xoá bộ lọc</button>
                      </div>
                      <div class="row row-cols-1 row-cols-md-5" id="rooms-container">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="pagination-container" class="d-flex justify-content-center mt-3">
              </div>

              <div class="modal fade" id="updateRoomModal" tabindex="-1" aria-labelledby="updateRoomModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="updateRoomModalLabel">Cập nhật phòng ngày</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div class="row">
                        <div class="col-md-6 mb-2">
                          <label for="bookingCode">Mã đơn đặt</label>
                          <input type="text" class="form-control" id="bookingCodeInput" name="bookingCode">
                        </div>
                        <div class="col-md-3 mb-2">
                          <label for="modalStartDate">Ngày checkin</label>
                          <input type="date" disabled class="form-control" id="modalStartDate" name="startDate">
                        </div>
                        <div class="col-md-3 mb-2">
                          <label for="modalEndDate">Ngày checkout</label>
                          <input type="date" disabled class="form-control" id="modalEndDate" name="endDate">
                        </div>
                      </div>
                      <input type="hidden" id="selectedRoomsInput" name="selectedRooms">
                      <input type="hidden" id="bookingIdInput" name="bookingId">
                      <div class="row">
                        <div class="col-md-3 mb-2">
                          <label for="roomType">Loại phòng</label>
                          <select class="form-select" id="roomType">
                            <% roomCategories.forEach(function(category) { %>
                              <option value="<%= category.id %>">
                                <%= category.name %>
                              </option>
                              <% }); %>
                          </select>
                        </div>
                        <div class="col-md-3 mb-2 d-flex align-items-end">
                          <button type="button" class="btn btn-primary w-100" id="filter-btn">Tìm kiếm</button>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6" style="max-height: 300px; overflow-y: auto;">
                          <table class="table">
                            <thead>
                              <tr>
                                <th scope="col"></th>
                                <th scope="col">Tên phòng</th>
                                <th scope="col">Tầng</th>
                              </tr>
                            </thead>
                            <tbody id="roomList"></tbody>
                          </table>
                        </div>
                        <div class="col-md-6" style="max-height: 300px; overflow-y: auto;">
                          <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">Các phòng đã chọn</th>
                                <th scope="col"></th>
                              </tr>
                            </thead>
                            <tbody id="selected-rooms-container"></tbody>
                          </table>
                        </div>
                      </div>

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                      <button type="button" class="btn btn-primary" id="postUpdateDayroom">Lưu</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>

  <script src="/libs/jquery/dist/jquery.min.js"></script>
  <script src="/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/js/sidebarmenu.js"></script>
  <script src="/js/app.min.js"></script>
  <script src="/libs/simplebar/dist/simplebar.js"></script>
  <script src="/js/dayRoom.js"></script>
  <script src="/js/handleUpdateDayroom.js"></script>

  <script>
 

  </script>
</body>

</html>