<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Thêm mới tài khoản</title>
  <link rel="shortcut icon" type="image/png" href="/image/logos/favicon.png" />
  <link rel="stylesheet" href="/css/styles.min.css" />
  <link rel="stylesheet" href="/css/tabler-icons/tabler-icons.css">

</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <%- include('../_partialView/asideAdmin.ejs') %>

    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
    <%- include('../_partialView/headerAdmin.ejs') %>
      
      <!--  Header End -->
      <div class="container-fluid">
        <div class="container-fluid">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title fw-semibold mb-3">Thêm mới tài khoản</h5>
              <div class="card">
                <div class="card-body">
                  <% if (errors !== " "){%>
                    <% errors.forEach((item) => { %>
                      <div>
                        <p class="alert alert-danger">
                          <%= item %>
                        </p>
                      </div>
                   <% })%>  
                 <% }%>  
                  <form action="/admin/user/create-new-user" method="post">
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Họ & Tên</label>
                      <input type="text" class="form-control" name= "fullname" required>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Mật khẩu</label>
                      <input type="password" class="form-control" name= "password" >
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Email</label>
                      <input type="email" class="form-control" name= "email" required>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Số điện thoại</label>
                      <input type="number" class="form-control" name= "phone" required>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Vai trò</label>
                      <!-- <input type="number" class="form-control" name= "role" required> -->
                      <select class="form-select" name="role">
                        <option value="0">Người quản trị</option>
                        <option value="1">Người dùng</option>
                      </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Lưu</button>
                  <a href="/admin/user/userlist"> <button type="button" class="btn btn-outline-danger">Quay lại</button></a>
                  </form>
                  <div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/libs/jquery/dist/jquery.min.js"></script>
  <script src="/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/js/sidebarmenu.js"></script>
  <script src="/js/app.min.js"></script>
  <script src="/libs/simplebar/dist/simplebar.js"></script>
</body>

</html>